.hero{
    background-image: url(img/img1.jpg);
    height: 100vh;
    background-size: cover;
}

.text{
    margin-top: 100px;
    position: absolute;
    border:5px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}